{% extends 'base.html' %}

{% block content %}
  {{ super() }}
{% endblock %}

{% block navbar_buttons %}
  {{ super() }}
  <a class="btn btn-outline-light btn-sm" href="{{ url_for('movies.cinema_movies') }}">Cinema</a>
  <a class="btn btn-outline-light btn-sm" href="{{ url_for('movies.movie_year_distribution') }}">Movie Year Distr.</a>
  <a class="btn btn-outline-light btn-sm" href="{{ url_for('movies.watch_year_distribution') }}">Watch Year Distr.</a>
  <a class="btn btn-outline-light btn-sm" href="{{ url_for('movies.movie_grid') }}">Poster Grid</a>
{% endblock %}
