.event-film {
    background-color: #4338ca; /* indigo-700 */
  }
  
  .event-dizi {
    background-color: #f97316; /* orange-500 */
  }
  
  .event-maç {
    background-color: black;
  }
  
  .event-konser {
    background-color: #db2777; /* pink-600 */
  }
  
  .event-randevu {
    background-color: #0ea5e9; /* sky-500 */
  }
  
  .event-hatırlatma {
    background-color: #64748b; /* slate-500 */
  }
  
  .event-diğer {
    background-color: #e5e7eb; /* zinc-100 */
    color: black;
  }

  
  