<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.0/datatables.min.css" rel="stylesheet" integrity="sha384-Thi088Uu3nHTydtNDcs0z6Qg/b9FiwyKET9qezjy1Pv94INJSvcM7LboEMd/aWSE" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Updock&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
      .navbar-brand {
        font-family: "Updock", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        letter-spacing: 1px;
      }
    </style>
    <style>
      .star-rating .star {
        font-size: 1.5rem;
        color: #ccc;
        cursor: pointer;
      }
      .star-rating .star.selected {
        color: gold;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-2">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand m-0" href="{{ url_for('main.index') }}">
          nobody exists on purpose. nobody belongs anywhere. everybody's gonna die. come watch tv?
        </a>
        <div class="ms-auto d-flex gap-2">
          {% block navbar_buttons %}
            <a class="btn btn-outline-light btn-sm" href="{{ url_for('watchlist.index') }}">Watchlist</a>
            <a class="btn btn-outline-light btn-sm" href="{{ url_for('movies.movie_list') }}">All Movies</a>
            <a class="btn btn-outline-light btn-sm" href="{{ url_for('series.series_stats') }}">All Series</a>
          {% endblock %}
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div class="card border-0">
        {% block graph %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}    
    
</body>
</html>
